<%- include("./paritals/header.ejs") -%>
<body>
    <h1 class="heading">Todo list</h1>
    <div class="timedate"> 
        <div class="date">
            <span id="date"></span>
            <span id="month"></span>
        </div>
         <div class="time">
            <span id="hrs" ></span><span id="min"></span><span id="sec"></span>
         </div>
         <h1 id="day">day</h1>
    </div>
    <form action="/api/users" method="post">
        
        <div class="tittle mar">
            <label for="tittle">Tittle</label>
            <input type="text" class="inputtext" name="tittle" value="" placeholder="enter the tittle" id="">
        </div>
        <div class="des mar">
            <label for="tittle">Description</label>
            <textarea name="des" value="" placeholder="Description" id=""></textarea>
        </div>
        <div class="btn mar">
        <button type="submit">submit</button>
        </div>

    </form>
    <div class="information">
        <table>
            <tr>
              <th class="sno">S.NO</th>
              <th class="ttittle">Tittle</th>
              <th class="tdes">Description</th>
              <th class="update">upadte</th>
              <th class="Delete">Delete</th>
            </tr>
            <% for(var i=0;i<value.length;i++) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= value[i].tittle %></td>
              <td><%= value[i].des %></td>
              <td><a href="/update?id=<%=value[i]._id %>"><i class="fa-regular fa-pen-to-square"></i></a></td>
              <td> <button value="<%=value[i]._id %>" id="delete" onclick="delet()" ><i class="fa-solid fa-trash"></button></i></td>
            </tr>
            <% } %>
           
          </table>
    </div>
    <script src="/js/home.js"></script>
<%- include("./paritals/footer.ejs") -%>